@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Macondo+Swash+Caps&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/background1.jpg);
    background-size: cover;
    /* Redimensiona a imagem */
    background-repeat: no-repeat;
    /* ajustar o tamanho da imagem */

    height: 100vh;
}

/* header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
} */

/* main {} */

/* footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
} */

/* image 2 */

@media screen and (max-width: 768px) {
    body {
        font-size: 25px;
    }

    header {
        padding: 10px;
    }

    main {
        margin: 10px;
    }

    footer {
        padding: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centraliza horizontalmente */
    text-align: center;
    /* centraliz o texto dentro das divs */
}

.flecha {
    text-align: center;
}

figcaption {
    /* Avançar */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: white;
}

figure img {
    width: 274px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
}

/* DiagWeb */
h1 {
    font-size: 180px;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;

}

/* Bem vindo ao... */
h2 {
    font-size: 3.7rem;
    color: white;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

/* "Descubra sua saúde com alguns cliques!" */
h3 {
    font-size: 30px;
    color: white;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;

}

.linha2 {
    width: 784px;
    height: 358px;
    background: url(../img/quadrado1.jpg);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* Redimensiona a imagem */
}



.linha1 {

    margin-top: 5%;

    width: 487px;
    height: 116px;
    background: url(../img/quadrado2.jpg);
    border-radius: 100px;

    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    background-size: cover;
    /* Redimensiona a imagem */

}

.linha3 {
    width: 626px;
    height: 87px;
    background: url(../img/quadrado3.jpg);
    border-radius: 100px;

    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    background-size: cover;
    /* Redimensiona a imagem */
}