@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Macondo+Swash+Caps&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    /* Redimensiona a imagem */
    background-repeat: no-repeat;
    /* ajustar o tamanho da imagem */
    margin: auto;
    background-color: black;
}

.container {
    text-align: center;
    margin: auto;
}

.SintomasSelecionadas {
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    /* identical to box height */
    text-decoration-line: underline;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
}

#checkboxsSelecionados {
    border: 1px solid black;
    font-family: 'Arial';
    font-style: normal;
}

h3 {
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: black;
    text-align: left;
}

.texto_container {
    width: 1036px;
    height: 722px;
    background: url(../img/quadrado4.jpg);
    border-radius: 100px;
    background-size: cover;
    /* Redimensiona a imagem */
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 4%;
    min-width: 600px;
}

.container1 {
    display: flex;
    align-items: center;
}

.container2 {
    display: flex;
}

.flecha {
    text-align: center;
    margin: auto;
}

.flecha1 {
    width: 300px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.flecha2 {
    width: 300px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    /* Avançar */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: white;
    margin: auto;
}

/* DiagWeb */
h1 {
    font-family: 'Macondo Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 118px;
    color: white;
}

h2 {
    /* Sobre nós: */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 156px;
    color: white;
}

.linha2 {
    width: 460px;
    height: 230px;
    background: url(../img/quadrado1.jpg);
    border-radius: 50px;
    background-size: cover;
    /* Redimensiona a imagem */
    max-width: 100%;
    height: auto;
    margin: auto;
}

.linha1 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 832px;
    height: 230px;
    background: url(../img/quadradoRedondo.jpg);
    border-radius: 100px;
    background-size: cover;
    /* Redimensiona a imagem */
    max-width: 100%;
    height: auto;
    margin: auto;
}

#resultado {
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: black;
    margin: auto;
    padding: 3%;
    text-align: left;
}