@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Macondo+Swash+Caps&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    /* Redimensiona a imagem */
    background-repeat: no-repeat;
    /* ajustar o tamanho da imagem */

    height: 100vh;
}

/* header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
} */

/* main {} */

/* footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
} */

/* image 2 */

@media screen and (max-width: 768px) {
    body {
        font-size: 25px;
    }

    header {
        padding: 10px;
    }

    main {
        margin: 10px;
    }

    footer {
        padding: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centraliza horizontalmente */
    text-align: center;
    /* centraliz o texto dentro das divs */
}

h3 {
    /* Hola, sou Matheus Henrique Justin Caetano, estou fazendo Um trabalho que nomeei de "DiagWeb" que se trata de um site que receba as informações, que no caso são sintomas, e que ele trate essas informações dando o resultado de qual doença pode ser, sendo assim cada doença tem uma página dedicada. Utilizando tecnologias de desenvolvimento web HTML5, CSS3 e JavaScript. Este site irá análisar e determinar caso você tenha uma ou mais das seguintes doenças: (1) Leptospirose; (2) Tétano; (3) Diarreia aguda; (4) Hepatite A; (5) Dengue; (6) Animais peçonhentos (aranhas, cobra, lacraias e escorpiões). Por favor, note que este site não possui 100% de sua precisão, vá para o médico caso suspeite que possua alguma dessas doenças. -Matheus Henrique Justin Caetano. */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: black;
    text-align: left;
}

.texto_container {
    width: 1036px;
    height: 722px;
    background: url(../img/quadrado4.jpg);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* Redimensiona a imagem */
}

.container1 {
    display: flex;
    align-items: center;
    /* centraliza horizontalmente */
    text-align: center;
    /* centraliz o texto dentro das divs */
}

.container2 {
    display: flex;
    /* centraliz o texto dentro das divs */
}

.flecha {
    text-align: center;
    margin-top: 50%;
    margin-bottom: 25%;
}

.flecha1 {
    width: 274px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    margin-left: 15%;
}

.flecha2 {
    width: 274px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    margin-left: 15%;
}

figcaption {
    /* Avançar */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: white;
    margin-left: 30%;
}

/* DiagWeb */
h1 {
    font-family: 'Macondo Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 118px;
    color: white;
}

h2 {
    /* Sobre nós: */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 156px;
    color: white;
}

.linha2 {
    width: 460px;
    height: 230px;
    background: url(../img/quadrado1.jpg);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    /* Redimensiona a imagem */

    margin-bottom: 0.5%;
    margin-left: 2%;
    /* DiagWeb */
}

.linha1 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 832px;
    height: 230px;
    background: url(../img/quadradoRedondo.jpg);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    background-size: cover;
    /* Redimensiona a imagem */
}