@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Macondo+Swash+Caps&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    /* Redimensiona a imagem */
    background-repeat: no-repeat;
    /* ajustar o tamanho da imagem */
    margin: auto;
    background-color: black;
}

.container {
    align-items: center;
    /* centraliza horizontalmente */
    text-align: center;
    /* centraliz o texto dentro das divs */
}

#texto {
    /* Hola, sou Matheus Henrique Justin Caetano, estou fazendo Um trabalho que nomeei de "DiagWeb" que se trata de um site que receba as informações, que no caso são sintomas, e que ele trate essas informações dando o resultado de qual doença pode ser, sendo assim cada doença tem uma página dedicada. Utilizando tecnologias de desenvolvimento web HTML5, CSS3 e JavaScript. Este site irá análisar e determinar caso você tenha uma ou mais das seguintes doenças: (1) Leptospirose; (2) Tétano; (3) Diarreia aguda; (4) Hepatite A; (5) Dengue; (6) Animais peçonhentos (aranhas, cobra, lacraias e escorpiões). Por favor, note que este site não possui 100% de sua precisão, vá para o médico caso suspeite que possua alguma dessas doenças. -Matheus Henrique Justin Caetano. */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: black;
    text-align: left;
}

.texto_container {
    width: 1036px;
    height: 722px;
    background: url(../img/quadrado4.jpg);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* Redimensiona a imagem */
    max-width: 100%;
    height: auto;
    padding: 2%;
    margin: auto;
}

.container1 {
    display: flex;
    align-items: center;
    /* centraliza horizontalmente */
    text-align: center;
    /* centraliz o texto dentro das divs */
    margin: auto;
}

.container2 {
    display: flex;
    /* centraliz o texto dentro das divs */
    margin: auto;
}

.flecha {
    text-align: center;
    margin: auto;
}

.flecha1 {
    width: 300px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.flecha2 {
    width: 300px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    /* Avançar */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: white;
    margin: auto;
}

/* DiagWeb */
h1 {
    font-family: 'Macondo Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 118px;
    color: white;
}

h2 {
    /* Sobre nós: */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 156px;
    color: white;
}

.linha2 {
    width: 460px;
    height: 230px;
    background: url(../img/quadrado1.jpg);
    border-radius: 50px;
    background-size: cover;
    /* Redimensiona a imagem */
    max-width: 100%;
    height: auto;
    margin: auto;
}

.linha1 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 832px;
    height: 230px;
    background: url(../img/quadradoRedondo.jpg);
    border-radius: 100px;
    margin: auto;
    background-size: cover;
    /* Redimensiona a imagem */

    max-width: 100%;
    height: auto;
}